.modal {
    --modal-width: 40%;
    --modal-height: 60%;
    max-height: calc(100vh - 200px);
  
    width: var(--modal-width);
    min-height: var(--modal-height);
    overflow-y: auto;
    position: absolute;
    top: calc((100% - var(--modal-height)) / 2);
    left: calc((100% - var(--modal-width)) / 2);
    background: #2c2d2f;
    border-radius: 15px;
    padding: 3rem 5%;
    padding-bottom: 4rem;
    color: white;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(19, 19, 19, 0.7);
  }
  
  .title {
    width: 70%;
    margin: auto;
    margin-bottom: 2.5rem;
    padding: 1rem 0;
    border-bottom: 1px solid white;
    text-align: center;
  }
  
  .close-icon {
    position: absolute;
    top: 2rem;
    right: 4rem;
    font-size: 2.5rem;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  }
  .modal-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    textarea {
      background: rgba(162, 144, 144, 0.72);
      color: white;
      outline: none !important;
      border: none !important;
      font-size: 1.6rem;
      padding: 2rem;
  
      &::placeholder {
        color: white !important;
        font-size: 1.7rem;
        font-style: italic;
      }
    }
  }

  .location-modal {
    --modal-width: 40%;
    --modal-height: 50%;
  
    width: var(--modal-width);
    min-height: var(--modal-height);
    position: absolute;
    top: calc((100% - var(--modal-height)) / 2);
    left: calc((100% - var(--modal-width)) / 2);
    background: #2c2d2f;
    border-radius: 15px;
    padding: 3rem 5%;
    padding-bottom: 4rem;
    color: white;
  }
  // user'info
  .user-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
  
    .info-name {
      display: flex;
      align-items: center;
      gap: 1rem;
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
  
      .username {
        font-weight: 300;
        font-style: italic;
        font-size: 1.5rem;
      }
    }
}
  
  // add on
  .post-extension {
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
    background-color: rgba(162, 144, 144, 0.35);
    font-size: 1.8rem;
    font-weight: 300;
    border-radius: 8px;
  
    div {
      font-style: italic;
    }
  }
  .extensions {
    display: flex;
    gap: 2rem;
  
    .icon {
      font-size: 2.2rem;
    }
  }

  .btn-submit {
    width: 100%;
    padding: 1rem;
    background-color: rgba(116, 96, 96, 0.35);
    color: white;
    font-style: italic;
    font-size: 1.6rem;
    letter-spacing: 1.2px;
    border-radius: 20px;
    cursor: pointer;
  }